<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>طلبية جديدة</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'telegram_webapp/new_order_styles.css' %}">
</head>
<body>
    <div class="buttons">
        <button id="sbButton" class="active" name="SB">سيلزباز</button>
        <button id="qButton" name="Q">عرض سعر</button>
    </div>
    <div class="content" id="myForm">
        <h1 id="contentLabel1">رقم الطلبية</h1>
        <input type="text" id="input1" maxlength="15" placeholder="رقم الطلبية: 233*20*1234" required>
        <p id="message1"></p>
        <div id="invoiceSection">
            <h1 id="contentLabel2">ملاحظة الفاتورة</h1>
            <input type="text" id="input2" maxlength="15" placeholder="صافي/الرياض ، اقصى حد 15 حرف" required>
            <p id="message2"></p>
        </div>
        
        <h1 id="contentLabel3">ملاحظة المستودع</h1>
        <input type="text" id="input3" maxlength="18" placeholder="ترسل عبر المخرج ، اقصى حد 18 حرف" required>
        <p id="message3"></p>
        
        <div class="choices" id="choices">
            <button class="option active" id="option1_btn">
                <input type="radio" id="choice1" name="choice" value="1" checked>
                <label for="choice1" id="choiceLabel1">استعراض و تعديل</label>
            </button>
            <button class="option" id="option2_btn">
                <input type="radio" id="choice2" name="choice" value="2">
                <label for="choice2" id="choiceLabel2">إرسال فوري</label>
            </button>
        </div>
    </div>
    <script src="{% static 'telegram_webapp/new_order_script.js' %}"></script>
    <script type="text/javascript">
        Telegram.WebApp.expand();
    </script>
</body>
</html>