<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'telegram-web-app.js' %}"></script>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'telegram_webapp/start_style.css' %}">
</head>
<body>
    <div>
        <h1>Sign Up</h1>
        <h3>First Name</h3>
        <input id="first_name" type="text" placeholder="First Name">
        <p id="fn"></p>
        <h3>Last Name</h3>
        <input id="last_name" type="text" placeholder="Last Name">
        <p id="ln"></p>
        <h3>Email</h3>
        <input id="email" type="text" placeholder="Email">
        <p id="em"></p>
    </div>
    <script src="{% static 'telegram_webapp/start_script.js' %}"></script>
    <script type="text/javascript">
        Telegram.WebApp.expand();
    </script>
</body>
</html>