div {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    max-width: 600px;
}

h1 {
    padding: 1.5rex 2rex;
    background-color: var(--tg-theme-bg-color);
    font-size: 3rex;
    color: var(--tg-theme-text-color);
    font-weight: bold;
}

h3 {
    margin: 0.5rex 1.5rem;
    text-align: left;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--tg-theme-hint-color);
    border-radius: 4px;
    margin-bottom: 1rem;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}